<div class="item-box">
  <h1>Edit this item.</h1>
  <%= simple_form_for @item do |f| %>
    <%= f.input :name %>
    <%= f.input :date %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Update', class: 'btn btn-success' %>
  <% end %>
</div>
