<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
        <%= link_to root_path do %>
          <%= image_tag 'clipboard64.png' %>
          <span class="logo">R and L's</span>
        <% end %>
        <div class="navbar-nav">
          <span class="navbar-text navbar-flavor-text">&nbsp;things to get done...</span>
        </div>
        <div class="new-item-link">
          <%= link_to 'New Item', new_item_path, class: 'nav-link' %>
        </div>
      </nav>

    <%= yield %>
  </body>
</html>
